<footer class="footer">
     <span class="footer__copyright">基于<a href="https://ghost.org/">Ghost</a>搭建，感谢<a href="https://www.digitalocean.com/?refcode=30ed2d146762">Digital Ocean</a>为本站提供稳定的 VPS 服务 </span>
    <span class="footer__copyright">&copy; {{date format="YYYY"}} - 本站由zsCool创建，采用<a href="https://github.com/onevcat/vno">Vno</a> 主题。<a href="https://github.com/onevcat/vno">Vno</a> theme by <a href="http://weibo.com/onevcat?is_all=1">@onevcat</span>
</footer>